
@{
    ViewData["Title"] = "Contato";
}

<h2 class="centro">Contato</h2>

<div class="">
    <p class="centro">Telefone: (14) 3641-8339</p>
    <p class="centro">Whatsapp: (14) 99157-0448</p>
    <p class="centro">E-mail: diskpastel@hotmail.com</p>
</div>


<div class="container">
    <div class="esp-cima float-left esp-cima-endereco">
        <h3 class="centro esp-cima">Endereço</h3>
        <p class="centro">Rua: Avenida Dr, Av. Dr. Dionísio Dutra e Silva, 365</p>
        <p class="centro">Cidade: Barra Bonita, Cohab - SP</p>
        <p class="centro">CEP: 17340-000</p>
    </div>
    <div>
        <iframe class="centro-imagem esp-cima-padding" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.825202720835!2d-48.57021088496598!3d-22.473202032780353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c74f8d8b9c1cb5%3A0x7743f2e9e16aa206!2sDisk%20Pastel!5e0!3m2!1spt-BR!2sbr!4v1567711757791!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
</div>
<link href="~/css/index.css" rel="stylesheet" />
