
@{
    ViewData["Title"] = "Sobre";
}



<div class="div-sobre row">
    <div class="col-sm-4">
        <img class="imgLocal" width="100%" src="~/images/fotosLocal/local.png" />
    </div>
    <div class="centro col">
        <h2 class="esp-cima2 centro">Sobre</h2>
        Nós do Disk Pastel prezamos pela simplicidade, espírito de amizade e qualidade! Afinal de contas, quem já comeu em nosso restaurante sabe do que a gente está falando. Não se deixe enganar pelo nosso nome, nosso foco é em pastel, porém temos várias outras maravilhas a oferecer, diversas porções, inúmeros tipos de lanches e também não podemos esquecer da infinidade de sabores de pasteis. Estamos desde 2017 servindo os pastéis mais gostosos, tradicionais e recheados de Barra Bonita na Avenida Dionízio Dutra e Silva. Não perca tempo e venha experimentar você também.
    </div>
</div>

<div class="div-sobre row">
    <div class="col-sm-4">
        <img class="imgLocal" width="100%" src="~/images/fotosLocal/local.png" />
    </div>
    <div class="centro col">
        <h3 class="centro">Horários</h3>
        <p class="centro esp-cima">Domingo 19:00 - 00:00</p>
        <p class="centro">Segunda-Feira FECHADO!</p>
        <p class="centro">Terça-Feira 19:00 - 00:00</p>
        <p class="centro">Quarta-Feira 19:00 - 00:00</p>
        <p class="centro">Quinta-Feira 19:00 - 00:00</p>
        <p class="centro">Sexta-Feira 19:00 - 00:00</p>
        <p class="centro">Sábado 19:00 - 00:00</p>
    </div>
</div>

<link href="~/css/Sobre.css" rel="stylesheet" />
